<main class= "container ">
<h2>Catálogo de Livros</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <td>Título</td>
            <td>Resumo</td>
            <td>Editora</td>
            <td>Autores</td>
        </tr>
    </thead>
    <tbody class="table-striped">
        <tr *ngFor="let livro of livros">
            <td >{{livro.titulo}}
                <br/>
                <button class="btn btn-danger" (click)="excluir(livro.codigo)">Excluir</button>
            </td>
            <td>{{livro.resumo}}</td>
            <td>{{obterNome(livro.codEditora)}}</td>
            <td>
                <ul >
                    <li *ngFor="let autor of livro.autores">
                        {{autor}}
                    </li>

                </ul>
            </td>
        </tr>

    </tbody>
</table>

</main>
